GROQ_API_KEY=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
GITHUB_TOKEN=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
QDRANT_URL=http://localhost:6333
QDRANT_PORT=6333
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=documate
POSTGRES_USER=documate
POSTGRES_PASSWORD=documate
